{% extends 'admin_base.njk' %}
{% block contenido %}
    {% if juego %}
        {% set accion = 'Editar' %}
        {% set url = "/admin/juegos/"+juego.id+"?_method=PUT" %}
    {% endif %}
    <h1>{{accion | default('Crear')}} juego</h1>
    <form action="{{ url | default('/admin/juegos/nuevo')}}" method="POST" id="gameForm" enctype="multipart/form-data" >
        
        <div class="form-group">
            <label for="nombre">Nombre</label>
            <input type="text" minlength="6" class="form-control" id="nombre" name="nombre" placeholder="Ingresa el nombre del juego" value="{{ juego.nombre }}" required>
        </div>
        <div class="form-group">
            <label for="descripcion">Descripción</label>
            <textarea class="form-control" id="descripcion" name="descripcion" placeholder="Ingresa una descripción del juego" required>{{ juego.descripcion }}</textarea>
        </div>
        <div class="form-group">
            <label for="edad">Edad Mínima</label>
            <input type="number" min="0" max="100" class="form-control" id="edad" name="edad" placeholder="Ingresa la edad mínima para jugar" value="{{ juego.edad }}" required>
        </div>
        <div class="form-group">
            <label for="jugadores">Número de Jugadores</label>
            <input type="number" class="form-control" id="jugadores" name="jugadores" placeholder="Ingresa el número de jugadores recomendado" value="{{ juego.jugadores }}" required>
        </div>
        <select name="tipo" required>
            <option value="" disabled selected>Selecciona el tipo de juego</option>
            {% for tip in[
                "rol",
                "escape",
                "dados",
                "fichas",
                "cartas",
                "tablero"
            ] %}
                <option value="{{ tip }}" {% if juego.tipo == tip %}selected{% endif %}>{{ tip }}</option>
            {% endfor %}
        </select>

        <div class="form-group">
            <label for="precio">Precio</label>
            <input type="number" min="0" class="form-control" id="precio" name="precio" placeholder="Ingresa el precio del juego" value="{{ juego.precio }}" required>
        </div>
        <div class="form-group">
            <label for="imagen">Imagen</label>
            <input type="file" class="form-control-file" id="imagen" name="imagen">
        </div>
        <div class="form-group">
            <label for="ediciones">Ediciones</label>
            <div id="edicionesContainer">
                        <button type="button" class="btn-outline-primary btn-sm" id="addEdition">Añadir</button>
                        <button type="button" class="btn-outline-danger btn-sm" id="removeEdition">Eliminar</button>
                {% if juego %}
                    {% for edicion in juego.ediciones %}
                    <div class="input-group " id="edicion">
                        <input type="text" class="form-control col-6 m-1" name="edicion[]" placeholder="Edición" value="{{edicion.edicion}}" >
                        <input type="number" min="2000" max="2023" class="form-control col-6 m-1" name="anyoEdicion[]" placeholder="Año" value="{{edicion.anyo | default('2000')}}" >
                    </div>
                    {% endfor %}
                {% endif %}
                    <div class="input-group " id="edicion">
                        <input type="text" class="form-control col-6 m-1" name="edicion[]" placeholder="Edición" >
                        <input type="number" min="2000" max="2023" class="form-control col-6 m-1" name="anyoEdicion[]" placeholder="Año" value="{{edicion.anyo | default('2000')}}">
                    </div>
            </div>
        </div>

        <button type="submit" class="btn btn-primary m-4">{{accion | default('Crear')}}</button>
    </form>
     {% if juego %}
        <form action="/admin/juegos/{{juego.id}}?_method=DELETE" method="POST" class="m-2">
            <button type="submit" class="btn btn-danger">Borrar</button>
        </form>
    {% endif %}
{% endblock %}
{% block meta_links %}
    <script src="/jsUtils/addEditions.js"></script>
{% endblock %}