{% extends "publico_base.njk" %}

{% block title %}Error{% endblock %}

{% block contenido %}

    <div class="container mt-5">
        <h1 class="text-danger text-center">Error</h1>
        <p class="text-center">{{ mensaje|default("Error en la aplicación") }}</p>
    </div>
{% endblock %}