{% extends 'admin_base.njk' %}

{% block contenido %}
    <h1>Listado de juegos</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for juego in juegos %}
                <tr>
                    <td><em><a href="/juego/{{ juego._id }}">{{ juego.nombre }}</a></em></td>
                    <td class="row">
                        <a href="/admin/juegos/editar/{{juego.id}}" class="btn btn-warning m-2">Editar</a>
                         <form action="/admin/juegos/{{juego.id}}?_method=DELETE" method="POST" class="m-2">
                            <button type="submit" class="btn btn-danger">Borrar</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="/admin/juegos/nuevo" class="btn btn-success">Crear nuevo juego</a>
{% endblock %}