<nav class="navbar navbar-light bg-secondary" styles="background-color: #000">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand text-white" href="/">Inicio</a>
            <a href="/admin/juegos">Administración</a>
        </div>
        <ul class="nav navbar-nav">
            <a href="/auth/login">Login</a>
        </ul>
    </div>
</nav>